body {
	background-color: #FCEBB6;
	color:#221811;
	font-family:Verdana;
	
}

h1 {
	background-color: #D2B48C;
	text-align: center;
	line-height:200%
}

#wrapper { margin-left: auto;
margin-right: auto;
width: 80%; }

/*Styles for the nav element selector that configure centered, bold text. Hint: Use the*/
/*CSS text-align and font-weight properties.*/

nav {
	text-align: center;
  }

/*Styles for the footer element selector that configure background color #D2B48C, small*/
/*font size (.60em), italics, and centered text.*/

footer {
	background-color:#D2B48C;
	font-size: .60em;
	text-align: center;
}